<h1>Edit Entry</h1>

<%= render "form", entry: @entry %>

<br>

<div>
  <%= link_to "Show this entry", @entry, class:"btn btn-secondary" %>
  <%= link_to "Back to entries", entries_path, class:"btn btn-dark" %>
</div>

