<h1><%= @selected_category %></h1>


<div id="entries" class="row row-cols-1 row-cols-md-3 g-4" >
  <% @entries.each do |entry| %>
  <% if entry.user == current_user %>
    <%= render entry %>
          <% end %>
  <% end %>
</div>


